
@{
    ViewBag.Title = "index";
}
<h2>select from the options</h2>
<body>
<div>
    <ul>
        <li>
            <a href="~/Admin/Users">SEE ALL USERS</a>
        </li>
        <li>
            <a href="~/Product/index">Add Product</a>
        </li>
   </ul>
</div>
</body>