



<body>
    <div class="body">
        <div class="about">
            <img src="/images/figure6.jpg" alt="">
            <h2>About Online Shopping Store</h2>
            <ul>
                <li>
                    <a href=""><img src="/images/figure7.jpg" alt=""></a>
                    <h3>We Have Online Facility For you</h3>
                    <p>
                        Our website is created for the ease of customers to buy any kind of shoes, clothing , wathches and bags while staying at home.
                    </p>
                </li>
                <li>
                    <a href=""><img src="/images/figure8.jpg" alt=""></a>
                    <h3>We Have Categories for you</h3>
                    <p>
                        the website facilitate the user to check items as it provides different section for diffrent products items.
                    </p>
                </li>
                <li>
                    <a href=""><img src="/images/figure9.jpg" alt=""></a>
                    <h3>Membership facility</h3>
                    <p>
                        This website provides the facility of membership to all the users. Users can see thier information and thier cart.
                    </p>
                </li>
                <li>
                    <a href=""><img src="/images/figure10.jpg" alt=""></a>
                    <h3>Website Details</h3>
                    <p>
                        Design version 8 <br> Code version 2
                    </p>
                    <p>
                       For any kind of feedback feel free to contact MINI SITES on provided email address " mehaknasir94@gmail.com " 
                    </p>
                    <p>
                      this website designed and all backend work is done by MEHAK NASIR student of SOFTWARE ENGINEERING. 
                    </p>
                    <p>
                        Please feel free to get yourself registered here.
                    </p>
                </li>
            </ul>
        </div>
    </div>
 
</body>

