 
<body>
  
     <div class="header">
        <div class="featured">
            <img src="/images/bg-absolute.png" alt="">
            <div>
                <h3>Less... <br> Is More...</h3>
            </div>

        </div>
    </div>
    <div class="body">
        <div>
            <h2>Welcome to the 2016 Summer Collection from Our Online Women Accessories Store</h2>
            <p>
                This website has been designed for Women Acessories covering wide range of clothing, shoes, bags and other acessories according to latest trends and Seasons. You can replace all this text with your own text.You can buy and see all kinds of accesories and also can add it to your cart you can have clear image of latest trends you can also search items of your need with ease</a>.
            </p>
            <ul>
                <li>
                    <a href="~/Home/collections"><img src="/images/clothes.jpg" alt=""></a> <a href="~/Home/collections">CLOTHING</a>
                </li>
                <li>
                    <a href="~/Home/bags"><img src="/images/bags.jpg" alt=""></a> <a href="~/Home/bags">BAGS</a>
                </li>
                <li>
                    <a href="~/Home/shoes"><img src="/images/shoes.jpg" alt=""></a> <a href="~/Home/shoes">SHOES</a>
                </li>
                <li>
                    <a href="~/Home/accessories"><img src="/images/watches.jpg" alt=""></a> <a href="~/Home/accessories">WATCHES</a>
                </li>
            </ul>
        </div>
    </div>
</body>
